
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color:#B86AA7;;
  color:yellow;
  padding: 40px 20px;
  margin-top: 50px;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-column h4 {
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 2px solid yellow;
  padding-bottom: 5px;
}
.footer-column h4:hover{
    color: orange;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color:white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: yellow;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
}
